@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    color: #333;
    font-size: 16px;
    line-height: 1.5em;
    min-width: 1320px;
}

/*------------------------header_wrap_start-----------------------------*/
#header_wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    background-color: rgba(255, 255, 255, 1);
    height: 100px;
    transition: all 0.5s;
}

#header_wrap.header_wrap-scrolled {
    background-color: #000;
    transition: all 0.5s;
}

#header_wrap.header_wrap-scrolled .gnb>li>a {
    color: #fff;
}

/*------------------------header_wrap_end-----------------------------*/


/*--------------------------------header-----------------------------*/
#header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/*-----------------------------------header-----------------------------*/


.logo {
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    z-index: 91;
    transform: translateX(-50%);
}



/*--------------------------------util_start--------------------------*/


.util {
    display: flex;
    padding-top: 60px;
}

.util li {
    margin-left: 20px;
}

.util li:first-child {
    margin-left: 0;
}

/*--------------------------------util_end----------------------------*/


/*--------------------------------gnb_start----------------------------*/
.gnb {
    display: flex;
    padding-top: 60px;
}

.gnb>li {
    margin-left: 30px;
    transition: all 0.3s;
}

.gnb li a {
    font-weight: 600;
}

.gnb>li:first-child {
    margin-left: 0;
}

.ev_bg{
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
    
}
.ev{
    width: 1320px;
    margin: 0 auto;
    height: px;
    background: url(../images/df.jpg) no-repeat top center;
    text-align: center;
}



/*-----------------------------footer_start------------------------------*/
#footer_wrap {
    background-color: #000;
    height: 250px;
}

#footer {
    text-align: center;
    width: 1320px;
        margin: 0 auto;
}

.icon {
    padding: 30px 0;
    justify-content: center;
    display: flex;

}

.icon li {
    margin: 0 10px;
}

.icon li img {
    opacity: 0.5;
    transition: all 0.5s;
}

.icon li a:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.footer_bold {
    font-weight: bold;
    color: #444;
}

.footer_logo {
    padding-top: 30px;
    opacity: 0.3;
}
.footer_logo img {
    width: 200px;
    height: 50px;
}
/*-------------------------------footer_end----------------------------*/