@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    color: #333;
    font-size: 16px;
    line-height: 1.5em;
}

/*------------------------header_wrap_start-----------------------------*/
#header_wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
    background-color: rgba(255, 255, 255, 1);
    height: 100px;
    transition: all 0.5s;
}

#header_wrap.header_wrap-scrolled {
    background-color: #000;
    transition: all 0.5s;
}

#header_wrap.header_wrap-scrolled .gnb>li>a {
    color: #fff;
}

/*------------------------header_wrap_end-----------------------------*/


/*--------------------------------header-----------------------------*/
#header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/*-----------------------------------header-----------------------------*/


.logo {
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    z-index: 91;
    transform: translateX(-50%);
}



/*--------------------------------util_start--------------------------*/


.util {
    display: flex;
    padding-top: 60px;
}

.util li {
    margin-left: 20px;
}

.util li:first-child {
    margin-left: 0;
}

/*--------------------------------util_end----------------------------*/


/*--------------------------------gnb_start----------------------------*/
.gnb {
    display: flex;
    padding-top: 60px;
}

.gnb>li {
    margin-left: 30px;
    transition: all 0.3s;
}

.gnb li a {
    font-weight: 600;
}

.gnb>li:first-child {
    margin-left: 0;
}

/*--------------------------------gnb_end----------------------------*/

/*--------------------------------submenu_start----------------------*/
.submenu_wrap {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 90;
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.submenu {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.submenu ul {
    position: absolute;
    top: 0;
    left: 80px;
}

.submenu ul li a {
    display: inline-block;
    padding: 10px 0;
    color: #999;
    transition: all 0.5s;
}

.submenu li a:hover {
    color: #fff;
}

.submenu_img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -12px;
    left: 600px;
    z-index: 91;
}

.submenu_img img {
    opacity: 0;
    transition: all 0.5s;
}

.s_a:hover.s_a img {
    opacity: 1;
}

.s_b:hover.s_b img {
    opacity: 1;
}

.s_c:hover.s_c img {
    opacity: 1;
}

.s_d:hover.s_d img {
    opacity: 1;
}

/*----------------------------submenu_end----------------------------*/


/*------------------------------m_sub_start--------------------------*/
.menu_btn {
    position: absolute;
    top: 32px;
    left: 25px;
    z-index: 91;
}

.menu_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
}

.sidebar_menu {
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 91;
    left: -100%;
}

.close_btn {
    width: 25px;
    height: 25px;
    margin: 35px 30px;
}

.close_btn>a {
    display: block;
    width: 100%;
    height: 100%;
}

.menu_wrap {
    list-style: none;
    padding: 20px 20px;
}

.menu_wrap li a {
    color: #fff;
    text-decoration: none;
}

/*------------------------------m_sub_end--------------------------------*/



/*pc*/
@media (min-width:1321px) {
    .menu_btn {
        display: none;
    }

    .sidebar_menu {
        display: none;
    }
}


/*tablet*/
@media (max-width:1320px){
    #header {
        width: 100%;
    }
    .gnb li a {
        display: none;
    }

    .util li a {
        display: none;
    }
}


/*mobile*/
@media (max-width:700px) {
    #header {
        width: 100%;
    }

    .gnb li a {
        display: none;
    }

    .util li a {
        display: none;
    }
}


/*------------------------------video_banner_start-----------------------*/

video{
    padding-top: 100px;
    width: 100%;
    height: auto;
}


/*------------------------------video_banner_end-------------------------*/


/*---------------------------section_wrap_start--------------------------*/
#section_wrap {
    width: 1320px;
    margin: 0 auto;
    
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 100px 0 30px;
}

.section1 {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.section1_box_wrap{
    display: flex;
    justify-content: space-between;
}
.section1 img{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.section1_box1{
    padding-right: 40px;
    box-sizing: border-box;
}

.size_up_font {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    line-height: 50px;
}
.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 70px;
}

.section2 {
    width: 100%;
    padding: 40px 0 50px;
    display: flex;
    overflow: hidden;
}

.text_size {
    font-size: 14px;
}

.color_bold {
    color: #000;
    font-weight: bold;
}

.shop_text {
    text-align: center;
    padding: 50px;
}

.shop_text p {
    padding: 50px 0 20px;
}

.shop_text a {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #777;
    transition: all 0.3s;
}

.shop_text a:hover {
    transition: all 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4)
}
.font_opacity {
    color: #777;
}

.font_style {
    font-family: 'Nanum Myeongjo', serif;
    color: #777;
}

.font_style a {
    transition: all 0.5s;
}

.font_style a:hover .size_up_bold {
    transform: scale(1.1);
}

.size_up_bold {
    font-size: 18px;
    font-family: 'Nanum Myeongjo', serif;
    color: #000;
    display: inline-block;
    transition: all 0.3s;
}

.box1 {
    display: flex;
    justify-content: space-between;
}

.box2 {
    display: flex;
    justify-content: space-between;
}

.text2 {
    padding: 150px 100px 0 0;
    display: block;
    width: 200px;
}
/*----------------------------section_wrap_end----------------------------*/


/*tablet*/
@media (max-width:1320px){
    #section_wrap {
        width: calc(100% - 10%);
        padding: 5vh 5vw;
    }
    .section1 {
        width: calc(100% - 10%);
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .section1_box_wrap{
        justify-content: space-around;
    }
    .section1_box1_img{
        width: 100%;
        display: block;
    }
    .section1_box2_img{
        width: 100%;
        display: block;
    }
    .text{
        padding: 40px 0 40px 0;
    }
    .text2{
        width: calc(100% - 10%);
        padding: 150px 50px 50px 0;
    }
    
    .section2{
        width: calc(100% - 10%);
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .box1 {
        width: 100%;
        padding: 50px 0;
        justify-content: space-evenly;
    }
    .box1 img{
        display: block;
        width: calc(100% - 10%);
    }

    .box2 {
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }
    .box2 img{
        display: block;
        width: calc(100% - 10%);
    }
    .shop_text{
        display: block;
        width: calc(100% - 10%);
        margin-left: 50px;
        padding: 0;
    }
}


/*mobile*/
@media (max-width:700px) {
    .section1 {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .section1_box_wrap{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section1_box1{
        padding: 0;
    }
    .section1_box1_img{
        width: 100%;
        display: block;
        
    }
    .section1_box2_img{
        width: 100%;
        display: block;
    }
    .text{
        padding: 10px 0 40px 0;
    }
    .section2{
        width: 100%;
    }
    .text2{
        padding: 0;
        margin-bottom: 20px;
    }
    .box1 {
        flex-wrap: wrap;
        padding: 0;
    }
    
    .box2 {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        overflow: hidden;
        box-sizing: border-box;
    }
    .shop_text{
        margin-left: 0;
        margin: 30px 0;
    }
    .size_up_font {
        font-family: 'Nanum Myeongjo', serif;
        font-size: 18px;
        line-height: 50px;
    }
    .text_size{
        font-size: 12px;
    }
    .font_style{
        font-size: 14px;
    }
}

/*--------------------------section3_start------------------------------*/
#section3 {
    height: 655px;
    background: url(../images/BANNER2.png)no-repeat bottom -300px right ;
}

.personal_test_wrap {
    text-align: center;
}

.personal_test {
    padding-top: 50px;
}

.title {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 60px;
    padding-bottom: 30px;
    line-height: 1.3em;
    color: #333;
}

.personal_test p span {
    font-size: 20px;
    font-weight: 500;
}

.personal_test a {
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 30px;
    border: 1px solid #777;
    transition: all 0.3s;
}

.personal_test a:hover {
    background-color: #000;
    color: #fff;
}
/*--------------------------section3_end------------------------------*/


/*pc*/
@media (min-width:1321px) {
    .personal_test_wrap {
        width: 1320px;
        margin: 0 auto;
    }

    #section3 {
        background-size: cover;
    }
}


/*tablet*/
@media (max-width:1320px) and (min-width:700px) {
    #section3 {
        width: 100%;
            background: url(../images/BANNER2.png)no-repeat bottom -340px right -200px;
        }
        .personal_test_wrap {
            width: 90%;
            margin: 0 auto;
        }
        .personal_test_wrap {
            text-align: left;
        }
        .title {
            font-size: 45px;
        }
}
    


@media (max-width:700px) {
    #section3 {
        width: 100%;
        background: url(../images/BANNER2.png)no-repeat;
        background-position: bottom 0 right 0;
    }

    .personal_test_wrap {
        width: 100%;
    }
    .personal_test {
        padding: 50px 20px 0 0;
        text-align: right;
    }
}


/*-------------------------------section4_start--------------------------*/
#section4 {
    padding: 100px 0;
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
    box-sizing: border-box;

}

.content1 {
    display: flex;
    flex-wrap: nowrap;
    border-right: 2px solid rgb(204, 204, 204);
    padding-right: 30px;
}

.content1_text {
    text-align: left;
    font-size: 14px;
    font-family: 'Nanum Myeongjo', serif;
    color: #777;
}
.eco_text {
    font-size: 20px;
    color: #777;
}
.content1_text a {
    display: inline-block;
    margin: 50px 0 0 130px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #777;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;

}

.content1_text a:hover {
    background-color: #000;
    color: #fff;
}

.content1_img {
    align-self: flex-end;
    padding-left: 30px;
}

.content2 {
    position: relative;
    display: flex;
    align-self: flex-end;
}

.circle {
    position: absolute;
    bottom: 20px;
    left: -140px;
    z-index: 89;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #fff;
}

.circle img {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 89;
    width: 190px;
    height: 190px;
    border-radius: 190px;
}

/*-------------------------------section4_start--------------------------*/


/*tablet*/
@media (max-width:1320px){
    #section4 {
        width: calc(100% - 10%);
        padding: 5vw;
        display: block;
    }

    .content1 {
        justify-content: space-around;
        border-right: 0;
    }
    .content1_text a{
        margin: 50px 0 0 70px;
    }
    .content2 {
        display: none;
    }

}


/*mobile*/
@media (max-width:700px) {
    #section4 {
        padding: 50px 0 50px 0;
        justify-content: space-evenly;
    }
    .content1 {
        width: calc(100% - 10%);
        text-align: center;
        padding: 0;
    }
    .content1_img{
        width: 150px;
        height: 150px;
        padding-left:10px;
    }
    .title{
        font-size: 30px;
    }
    .content1_text a{
        font-size: 12px;
        padding: 5px 15px;
        margin: 10px 0 0 0;
    }
}


/*-----------------------------section5_start----------------------------*/
#section5 {
    background-color: #f3f3f3;
    height: 300px;
}

.move {
    display: flex;
    justify-content: space-around;
    width: 1320px;
    margin: 0 auto;
    padding-top: 50px;
}

.move li {
width: 200px;
        height: 200px;
        border-radius: 100px;
    position: relative;
    overflow: hidden;

}

.img_wrap {
    box-sizing: border-box;
    overflow: hidden;
    width: 200px;
    height: 200px;
    background-color: #000;
}

.img_wrap img {
    width: 200px;
        height: 200px;
    transition: all 0.5s;
    opacity: 0.7;
}

.move li a:hover img {
    transform: scale(1.2);
    opacity: 1;
}

.move li p {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 89;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/*-----------------------------section5_start----------------------------*/



/*tablet*/
@media (max-width:1320px){
    #section5 {
        height: auto;
        padding: 10px;
    }

    .move {
        width: 100%;
        padding-top: 25px;
    }

    .move li {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    .img_wrap {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }

    .img_wrap img {
        width: 150px;
        height: 150px;
    }

    .move li p {
        font-size: 17px;
    }
}


/*mobile*/
@media (max-width:700px) {
    .move {
        width: 70%;
        display: block;
        padding: 0;
    }
    .move .img_wrap{
        display: none;
    }
    .move li {
        width: 100%;
        height: 35px;
        display: block;
        background-color: black;
        margin:10px 0 ;
        transition: all 0.5s;
    }
    .move li p {
        font-size: 14px;
        top: 13%;
        color: white;
        text-shadow: none;
        transition: all 0.5s;
    }
    .move li:hover{
        background-color: #777;
    }
    
}


/*-----------------------------footer_start------------------------------*/
#footer_wrap {
    background-color: #000;
    height: 250px;
}

#footer {
    text-align: center;
    width: 1320px;
        margin: 0 auto;
}

.icon {
    padding: 30px 0;
    justify-content: center;
    display: flex;

}

.icon li {
    margin: 0 10px;
}

.icon li img {
    opacity: 0.5;
    transition: all 0.5s;
}

.icon li a:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.footer_bold {
    font-weight: bold;
    color: #444;
}

.footer_logo {
    padding-top: 30px;
    opacity: 0.3;
}
.footer_logo img {
    width: 200px;
    height: 50px;
}
/*-------------------------------footer_end----------------------------*/



/*tablet*/
@media (max-width:1320px){
    #footer_wrap {
        height: 200px;
        width: 100%;
    }

    #footer {
        width: 100%;
    }

    #footer p {
        font: 14px;
    }

    .icon {
        padding: 10px 0;
    }

    .footer_logo {
        padding-top: 20px;
    }

    .footer_logo img {
        width: 150px;
        height: 40px;
    }
}


/*mobile*/
@media (max-width:700px) {
    #footer_wrap {
        height: auto;
        width: 100%;
        padding-bottom: 30px;
    }

    #footer {
        width: 100%;
    }

    .footer_logo img {
        width: 100px;
        height: 25px;
    }

    .footer_logo {
        padding-top: 15px;
    }

    .icon {
        padding: 20px 0 10px;
    }

    #footer p {
        font-size: 10px;
    }
}